.header {
  width: 300px;
  color: white;
  float: left;
  &__user {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  &__menu {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
  }
}

.contents {
  width: calc(100vw - 300px);
  float: left;
  &__group {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
  }
  &__message {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
  }
}